@font-face {
    font-family: 'Avenir';
    src: url('../../Assets/Font/Alternativefiles/AvenirNextLTPro.ttf') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir';
    src: url('../../Assets/Font/Alternativefiles/AvenirNextLTProDemi.ttf') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Avenir';
    src: url('../../Assets/Font/Alternativefiles/AvenirNextLTProBold.ttf') format('woff2');
    font-weight: 700;
}